<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>638338615612-udq0bgme2fa2b4qhsmjq6pk384g8grlf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.638338615612-udq0bgme2fa2b4qhsmjq6pk384g8grlf</string>
	<key>API_KEY</key>
	<string>AIzaSyDJtT-h7giC9kLWdNUj603NKtOyiVnRLoY</string>
	<key>GCM_SENDER_ID</key>
	<string>638338615612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.airbnbapp</string>
	<key>PROJECT_ID</key>
	<string>airbnbapp-8670b</string>
	<key>STORAGE_BUCKET</key>
	<string>airbnbapp-8670b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638338615612:ios:3d4887165ecffac4073639</string>
	<key>DATABASE_URL</key>
	<string>https://airbnbapp-8670b.firebaseio.com</string>
</dict>
</plist>